.faq {
  background-image: url("../img/faq-watercolor-bg-desktop@1x.png"), url("../img/faq-bg-desktop@1x.png"), url("../img/bag-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 100%, 47%, 10%;
  background-position: center center, right 140px, bottom left;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/faq-watercolor-bg-desktop@2x.png"), url("../img/faq-bg-desktop@2x.png"), url("../img/bag-desktop@2x.png");
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    background-image: url("../img/faq-watercolor-bg-desktop@1x.png"), url("../img/faq-bg-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 100%, 45%;
    background-position: center center, center right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/faq-watercolor-bg-desktop@2x.png"), url("../img/faq-bg-desktop@2x.png");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/bag-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom left;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bag-mobile@2x.png");
    }
  }
}

.faq__container {
  padding: 138px 730px 100px 108px;

  @media (min-width: 1024px) and (max-width: 1200px) {
    padding-right: 600px;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding: 20px;
    padding-right: 50%;
    padding-top: 50px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 16px;
  }

  h2 {
    @include reset;
    @include title ($font-40, $height-49, $bold, $blue);
    font-family: "montserrat", "Arial", sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 8px;

    @media (max-width: $max-mobile-width) {
      @include title ($font-32, $height-39, $bold, $blue);
      text-align: center;
      margin-bottom: 23px;
    }
  }
}
