.internship {
  background-image: url("../img/life-watercolor-bg-desktop@1x.jpg"), url("../img/compass-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 100%, 7%;
  background-position: 100px right, right 500px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/life-watercolor-bg-desktop@2x.jpg"), url("../img/compass-desktop@2x.png");
  }
}

.internship__container {
  padding: 0 110px 113px 104px;

  @media (min-width: 1024px) and (max-width: 1250px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding: 20px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 0 16px 42px 16px;
  }

  h2 {
    @include reset;
    @include title ($font-40, $height-49, $bold, $blue);
    font-family: "montserrat", "Arial", sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;

    @media (max-width: $max-mobile-width) {
      @include title ($font-32, $height-39, $bold, $blue);
      text-align: center;
      width: 200px;
      margin: 0 auto;
      margin-bottom: 22px;
    }
  }

  p {
    @include reset;
    @include text-size-height ($font-17, $height-29);
    margin-left: 207px;
    margin-right: 222px;
    text-align: right;
    margin-bottom: 25px;
    opacity: 0.87;

    @media (min-width: 1024px) and (max-width: 1250px) {
      text-align: center;
      margin-left: 200px;
      margin-right: 200px;
    }

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      margin: 0 auto;
      text-align: center;
    }

    @media (max-width: $max-mobile-width) {
      @include text-size-height ($font-16, $height-26);
      margin: 0 auto;
      text-align: left;
      margin-bottom: 24px;
    }
  }
}

.internship__picture-container {
  width: 100%;

  @media (max-width: $max-mobile-width) {
    padding-bottom: 40px;
  }

  .swiper-pagination-bullets {
    @media (max-width: $max-mobile-width) {
      bottom: unset;
    }
  }
}

.internship__picture-wrapper {
  display: grid;
  grid-template-columns: 241px 241px 223px 223px 223px;
  grid-template-rows: 366px 366px;

  @media (min-width: 1024px) and (max-width: 1355px) {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 0;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    grid-gap: 0;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
  }

  @media (max-width: $max-mobile-width) {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  figure {
    margin: 0;
    align-items: center;
    position: relative;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    @media (max-width: $max-mobile-width) {
      width: 288px;
      margin: 0 auto;
    }
  }

  figcaption {
    @include text ($font-21, $height-25, $extra-bold);
    font-family: "raleway", "Arial", sans-serif;
    position: absolute;
    left: 40px;
    bottom: 80px;
    color: $white;
    width: 80%;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      @include text ($font-16, $height-24, $medium);
    }

    @media (max-width: $max-mobile-width) {
      @include text ($font-18, $height-21, $extra-bold);
      left: 50%;
      transform: translateX(-50%);
      width: 210px;
      bottom: 10px;
    }
  }
}

.internship__pagination {
  display: none;

  @media (max-width: $max-mobile-width) {
    display: block;
    bottom: unset;
  }

  span {
    @media (max-width: $max-mobile-width) {
      width: 6px;
      height: 6px;
      border-radius: 10px;
      background-color: $light-grey;
      opacity: 1;
    }
  }

  .swiper-pagination-bullet-active {
    @media (max-width: $max-mobile-width) {
      width: 8px;
      height: 8px;
      background: linear-gradient(to bottom right, $yellow 0%, $yellow-2 100%);
    }
  }
}

.internship__picture-box {
  display: flex;

  @media (max-width: $max-mobile-width) {
    width: 288px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  img {
    @media (min-width: 1024px) and (max-width: 1250px) {
      transform: scale(0.9);
    }

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      width: 288px;
      height: 400px;
      object-fit: cover;
    }

    @media (max-width: $max-mobile-width) {
      max-width: none;
      width: 288px;
      height: 400px;
      object-fit: unset;
    }
  }
}

.internship__picture-box--excursion {
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  img {
    margin-bottom: 80px;
    z-index: 10;

    @media (max-width: $max-mobile-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    grid-column: 1;
    grid-row: 1 / 3;
    width: 242px;
  }

  figcaption {
    width: 75%;

    @media (min-width: 1024px) and (max-width: 1250px) {
      left: 60px;
      bottom: 100px;
    }

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      bottom: 280px;
      left: 50px;
    }

    @media (max-width: $max-mobile-width) {
      width: 210px;
      text-align: center;
      bottom: 30px;
    }
  }
}

.internship__picture-box--hebrew {
  grid-column: 3;
  grid-row: 1;
  justify-content: flex-end;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    grid-column: 2;
    grid-row: 1;
  }

  @media (max-width: $max-mobile-width) {
    justify-content: center;
  }

  figcaption {
    bottom: 59px;
    width: 120px;

    @media (min-width: 1024px) and (max-width: 1250px) {
      left: 70px;
    }

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      width: unset;
      left: 60px;
    }

    @media (max-width: $max-mobile-width) {
      width: 100%;
      text-align: center;
      bottom: 15px;
    }
  }
}

.internship__picture-box--skills {
  grid-column: 4 / 6;
  grid-row: 1;
  justify-content: flex-end;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    grid-column: 3;
    grid-row: 1;

    img {
      width: 288px;
    }
  }

  @media (max-width: $max-mobile-width) {
    justify-content: center;
  }

  figcaption {
    bottom: 59px;
    left: 65px;

    @media (min-width: 1024px) and (max-width: 1250px) {
      left: 110px;
      width: 70%;
    }

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      left: 40px;
    }

    @media (max-width: $max-mobile-width) {
      left: 50%;
      bottom: 30px;
      width: 220px;
      text-align: center;
    }
  }
}

.internship__picture-box--creative {
  grid-column: 3 / 5;
  grid-row: 2;
  justify-content: center;
  display: flex;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    grid-column: 2;
    grid-row: 2;

    img {
      width: 288px;
    }
  }

  figcaption {
    left: 45px;
    bottom: 75px;

    @media (min-width: 1024px) and (max-width: 1250px) {
      left: 90px;
      width: 70%;
    }

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      left: 35px;
      bottom: 50px;
    }

    @media (max-width: $max-mobile-width) {
      bottom: 30px;
      text-align: center;
      left: 50%;
      width: 230px;
    }
  }
}

.internship__picture {
  align-self: baseline;
}

.internship__picture-box--leadership {
  grid-column: 5 / 6;
  grid-row: 2;
  justify-content: center;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    grid-column: 3;
    grid-row: 2;
  }

  figcaption {
    left: 35px;
    bottom: 75px;

    @media (min-width: 1024px) and (max-width: 1250px) {
      left: 60px;
      width: 70%;
    }

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      left: 60px;
    }

    @media (max-width: $max-mobile-width) {
      bottom: 30px;
      left: 50%;
    }
  }
}

.swiper-pagination {
  pointer-events: all;
}
