html {
  box-sizing: border-box;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

.disable-scroll {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: "firasans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  background-color: white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
