//COLOR VARIABLES
$black: #484848; // основной темный цвте шрифта
$black-2: #000000;
$blue: #1fc0fc;
$blue-2: #63d3fd;
$light-grey: #e3e3e3;
$light-grey-2: #f4f4f4;
$yellow: #ffc341;
$yellow-2: #ffd701;
$red: #ff0000;
$white: #ffffff;
$brown: brown;
$pink: #fabdc2;
$max-tablet-width: 1023px; // максимум для версии пишем когда идем от desktop к mobile (768px - 1023px;)
$max-mobile-width: 767px; // максимум для версии пишем когда идем от desktop к mobile (320px - 767px;)
$min-tablet-width: 768px;
$min-mobile-width: 320px;

//RETINA VARIABLES
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//FONTS VARIABLES
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-20: 20px;
$font-21: 21px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;
$font-40: 40px;
$height-18: 18px;
$height-19: 19px;
$height-20: 20px;
$height-21: 21px;
$height-22: 22px;
$height-24: 24px;
$height-25: 25px;
$height-26: 26px;
$height-29: 29px;
$height-34: 34px;
$height-36: 36px;
$height-39: 39px;
$height-48: 48px;
$height-49: 49px;
